<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY PLAYERS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 15%;">
    <ion-fab-button (click)="addPlayer()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let player of players | async">
    <ion-item (click)="goDetail(player)">
      <ion-avatar style="margin-right: 10px;">
        <div *ngIf="player.photo; else defaultAvatar">
          <ion-img src= 'data:image/jpeg;base64,{{player.photo}}' class="clipped" width="150" height="150"></ion-img></div>
        <ng-template #defaultAvatar>
          <img src= "../../assets/avatar.png" width="150" height="150"></ng-template>
      </ion-avatar>
      <ion-label>
        <h2>{{player.name}}</h2>
        <h3>{{player.category}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

  
</ion-content>
