<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LIVE MATCH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="player1.name!='' else startButton">

  <ion-card style=" height: 30%; margin-inline: 5%;">

    <div style="height: 60%; display: flex; align-items: center; justify-content: center;">
      <div *ngIf="player1.photo; else defaultAvatar">
        <img src= 'data:image/jpeg;base64,{{player1.photo}}' class="clipped" width="75px" height="75px"></div>
      <ng-template #defaultAvatar>
        <img src= "../../assets/avatar.png" alt="" width="75px" height="75px"></ng-template>
      <h1 style="margin-left: 10px;">{{player1.name}}</h1> 
    </div>

    <div style="display: block; margin: 10px;">
      <ion-button (click)="point(1)" color="primary" expand="block">Point</ion-button>
    </div>

  </ion-card>

  <ion-card style=" height: 20%;  margin-inline: 5%;">
    <div style="display: flex; align-items: center; justify-content: center;">
      <h1>{{player1.score}} - {{player2.score}}</h1>
    </div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <h4 *ngIf="!(player1.sets+player2.sets==0)">{{set1Score}}</h4>
      <h4 *ngIf="!(player1.sets+player2.sets==1)">{{set2Score}}</h4>
      <h4 *ngIf="!(player1.sets+player2.sets==2)">{{set3Score}}</h4>
    </div>

  </ion-card>

  <ion-card style=" height: 30%; margin-inline: 5%;">
    
    <div style="height: 60%; display: flex; align-items: center; justify-content: center;">
      <div *ngIf="player2.photo; else defaultAvatar">
        <img [src]= player2.photo alt=""></div>
      <ng-template #defaultAvatar>
        <img src= "../../assets/avatar.png" width="75px" height="75px"></ng-template>
      <h1 style="margin-left: 10px;">{{player2.name}}</h1> 
    </div>

    <div style="display: block; margin: 10px;">
      <ion-button (click)="point(2)" color="primary" expand="block">Point</ion-button>
    </div>

  </ion-card>

</ion-content>

<ng-template #startButton>
  <ion-content>
    <ion-button style="display: block; margin: 30px; margin-top: 60%;" (click)="selectPlayers()">SELECT PLAYERS</ion-button>
  </ion-content>

</ng-template>