img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 75%;
    border-radius: 25%;
    max-height: 300px;
}

.pTitle{
    font-size: 26px;
    float: left;
    font-weight: bold;
    margin: 20px;
}

ion-row{
    height: 40px;
}

.tTitle{
    font-size: medium;
}

.row1{
    background-color: #363636;
}

.row2{
    background-color: #4d4d4d;
}