<ion-header>
  <ion-toolbar>
    <ion-text class="pTitle" textContent="{{dataService.selectedPlayer.name}} / {{dataService.selectedPlayer.category}}"></ion-text>
    <ion-button class="ion-float-right" style="margin: 20px;" (click)="editPlayer(dataService.selectedPlayer)"><ion-icon name="create-outline"></ion-icon>Edit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <div *ngIf="dataService.selectedPlayer.photo; else defaultAvatar">
      <img style="align-self: center;" src= 'data:image/jpeg;base64,{{dataService.selectedPlayer.photo}}'></div>
    <ng-template #defaultAvatar>
      <img style="align-self: center;" src= "../../assets/avatar.png"></ng-template>
    <ion-grid *ngIf="dataService.selectedPlayer.totalStats else noStats">
      <ion-row>
        <ion-col><ion-text class="tTitle" color="primary">Points</ion-text></ion-col>
        <ion-col><ion-text class="tTitle" color="primary">Made</ion-text></ion-col>
        <ion-col><ion-text class="tTitle" color="primary">Recived</ion-text></ion-col>
      </ion-row>
      <ion-row class="row1">
        <ion-col><ion-text >Opponent non forced error</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{'color' : (dataService.selectedPlayer.totalStats.perStats.perOppNonForcedError>(100/6)) ? 'white' : ''}">{{dataService.selectedPlayer.totalStats.oppNonForcedError}} / {{dataService.selectedPlayer.totalStats.perStats.perOppNonForcedError}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perOppNonForcedError>(100/6)) ? 'white' : ''}">{{dataService.selectedPlayer.totalStatsAgainst.oppNonForcedError}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perOppNonForcedError}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Smash</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStats.perStats.perSmash>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStats.smash}} / {{dataService.selectedPlayer.totalStats.perStats.perSmash}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perSmash>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStatsAgainst.smash}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perSmash}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row1">
        <ion-col><ion-text>Net play</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStats.perStats.perNetPlay>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStats.netPlay}} / {{dataService.selectedPlayer.totalStats.perStats.perNetPlay}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perNetPlay>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStatsAgainst.netPlay}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perNetPlay}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Drop</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStats.perStats.perDrop>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStats.drop}} / {{dataService.selectedPlayer.totalStats.perStats.perDrop}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perDrop>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStatsAgainst.drop}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perDrop}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row1">
        <ion-col><ion-text>Feint</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStats.perStats.perFeint>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStats.feint}} / {{dataService.selectedPlayer.totalStats.perStats.perFeint}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perFeint>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStatsAgainst.feint}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perFeint}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Long court</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStats.perStats.perLongCourt>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStats.longCourt}} / {{dataService.selectedPlayer.totalStats.perStats.perLongCourt}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (dataService.selectedPlayer.totalStatsAgainst.perStats.perLongCourt>(100/6)) ? 'white':''}">{{dataService.selectedPlayer.totalStatsAgainst.longCourt}} / {{dataService.selectedPlayer.totalStatsAgainst.perStats.perLongCourt}}%</ion-text></ion-col>
      </ion-row>
    </ion-grid>
    <ng-template #noStats><h1>No stats recorded</h1></ng-template>
  </ion-card>

  <ion-item><ion-label><ion-text color="primary">{{dataService.selectedPlayer.name}} match record</ion-text></ion-label></ion-item>
  <div *ngIf="dataService.selectedPlayer.matches else noMatches;">
    <ion-list *ngFor="let match of dataService.selectedPlayer.matches">
      <ion-item (click)="goMatchDetail(match)"><ion-label>VS {{match.rival}} - {{match.date}}</ion-label></ion-item>
    </ion-list>
  </div>

  <ng-template #noMatches><h1 style="margin: 25px;">No matches recorded yet</h1></ng-template>
</ion-content>
