<ion-header>
  <ion-toolbar>
    <ion-title>GAME OVER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="display: flex; align-items: center; justify-content: center;">
    <ion-card-header>
      <h1>{{match.player}} vs {{match.rival}}</h1>
      <h2>Winner: {{match.winner}}</h2>
    </ion-card-header>
    <h1>{{match.result}}</h1>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row class="row1">
        <ion-col><ion-text >Opponent non forced error</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{'color' : (match.stats.perStats.perOppNonForcedError>(100/6)) ? 'white' : ''}">{{match.stats.oppNonForcedError}} / {{match.stats.perStats.perOppNonForcedError}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{'color' : (match.statsAgainst.perStats.perOppNonForcedError>(100/6)) ? 'white' : ''}">{{match.statsAgainst.oppNonForcedError}} / {{match.statsAgainst.perStats.perOppNonForcedError}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Smash</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.stats.perStats.perSmash>(100/6)) ? 'white':''}">{{match.stats.smash}} / {{match.stats.perStats.perSmash}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.statsAgainst.perStats.perSmash>(100/6)) ? 'white':''}">{{match.statsAgainst.smash}} / {{match.statsAgainst.perStats.perSmash}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row1">
        <ion-col><ion-text>Net play</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.stats.perStats.perNetPlay>(100/6)) ? 'white':''}">{{match.stats.netPlay}} / {{match.stats.perStats.perNetPlay}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.statsAgainst.perStats.perNetPlay>(100/6)) ? 'white':''}">{{match.statsAgainst.netPlay}} / {{match.statsAgainst.perStats.perNetPlay}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Drop</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.stats.perStats.perDrop>(100/6)) ? 'white':''}">{{match.stats.drop}} / {{match.stats.perStats.perDrop}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.statsAgainst.perStats.perDrop>(100/6)) ? 'white':''}">{{match.statsAgainst.drop}} / {{match.statsAgainst.perStats.perDrop}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row1">
        <ion-col><ion-text>Feint</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.stats.perStats.perFeint>(100/6)) ? 'white':''}">{{match.stats.feint}} / {{match.stats.perStats.perFeint}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.statsAgainst.perStats.perFeint>(100/6)) ? 'white':''}">{{match.statsAgainst.feint}} / {{match.statsAgainst.perStats.perFeint}}%</ion-text></ion-col>
      </ion-row>
      <ion-row class="row2">
        <ion-col><ion-text>Long court</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.stats.perStats.perLongCourt>(100/6)) ? 'white':''}">{{match.stats.longCourt}} / {{match.stats.perStats.perLongCourt}}%</ion-text></ion-col>
        <ion-col><ion-text [ngStyle]="{ 'color' : (match.statsAgainst.perStats.perLongCourt>(100/6)) ? 'white':''}">{{match.statsAgainst.longCourt}} / {{match.statsAgainst.perStats.perLongCourt}}%</ion-text></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button (click)="close()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>