<ion-header>
  <ion-toolbar>
    <ion-title> Badminton Tracker </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="../../assets/icon/index.png"></ion-img>
</ion-content>
<ion-footer class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button
          [routerLink]="['/signup']"
          expand="block"
          color="primary"
          >Sign Up</ion-button
        >
        <h1>Already a user?</h1>
        <ion-button [routerLink]="['/login']" expand="block" color="danger"
          >Log In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>